<!DOCTYPE html>
<html ng-app="senseui">

<head>
	<title>Sense HAT - Sensor Data Monitoring</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script type="text/javascript" src="/date.format.js"></script>
	<script type="text/javascript" src="/paging/dirPagination.js"></script>
	
	<script type="text/javascript" src="main.js" ></script>
	
</head>

<body>
	
	<div class="container">
		<div class="page-header">
			<h3>Sense HAT - Sensor Data Monitoring</h3>
		</div>
		<div ng-controller="SenseDataController as ctrl">
			<dir-pagination-controls></dir-pagination-controls>
			
			<div class="dropdown">
				
			</div>
			
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<form name="searchform" class="navbar-form navbar-left" role="search" novalidate 
						ng-submit="loadData(criteria)">
							<div class="form-group">
								<label>From</label>
								<input ng-model="criteria.fromdate" type="date" class="form-control" placeholder="yyyy-MM-dd">
								<label>To</label>
								<input ng-model="criteria.todate" type="date" class="form-control" placeholder="yyyy-MM-dd">
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div>
				</div>
			</nav>
			
			<hr>
			
			<table id="pretty-table" class="table table-condensed">
				<thead>
					<tr>
						<th rowspan='2'>No.</th>
						<th colspan="2">Temperature (C)</th>
						
						<th rowspan='2'>Humidity (%)</th>
						<th rowspan='2'>Pressure (mbar)</th>
						<th rowspan='2'>Pitch (deg)</th>
						<th rowspan='2'>Roll (deg)</th>
						<th rowspan='2'>Yaw (deg)</th>
						<th colspan="3">Magnetometer (µT)</th>
						<th colspan="3">Accelerometer (Gs)</th>
						<th colspan="3">Gyroscope (rad/s)</th>
						
						<th rowspan='2'>Timestamp</th>
					</tr>
					<tr>
						<th>from Humidity</th>
						<th>from Pressure</th>
						
						<th>X</th>
						<th>Y</th>
						<th>Z</th>
						
						<th>X</th>
						<th>Y</th>
						<th>Z</th>
						
						<th>X</th>
						<th>Y</th>
						<th>Z</th>
					</tr>
				</thead>
				<tr dir-paginate="reg in ctrl.data | itemsPerPage: 50">
					<td>{{$index + 1}}</td>
					<td>{{reg.temp_h | number : 2 }}</td>
					<td>{{reg.temp_p | number : 2 }}</td>
					<td>{{reg.humidity | number : 2 }}</td>
					<td>{{reg.pressure | number : 2 }}</td>
					<td>{{reg.pitch | number : 2 }}</td>
					<td>{{reg.roll | number : 2 }}</td>
					<td>{{reg.yaw | number : 2 }}</td>
					<td>{{reg.mag_x | number : 2 }}</td>
					<td>{{reg.mag_y | number : 2 }}</td>
					<td>{{reg.mag_z | number : 2 }}</td>
					<td>{{reg.acc_x | number : 4 }}</td>
					<td>{{reg.acc_y | number : 4 }}</td>
					<td>{{reg.acc_z | number : 4 }}</td>
					<td>{{reg.gyro_x | number : 4 }}</td>
					<td>{{reg.gyro_y | number : 4 }}</td>
					<td>{{reg.gyro_z | number : 4 }}</td>
					<td>{{reg.timestamp | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
				</tr>
			</table>
			<dir-pagination-controls></dir-pagination-controls>
			<!-- pre>{{ctrl.data | json}}</pre -->
		</div>
	</div>
</body>

</html>
